body{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    background-color: rgb(221, 214, 214);
}

header{
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.logo{
    display: inline-block;
    vertical-align:middle;
    font-size: 50px;
    line-height: 100px;
}

.btn{
    color: black;
    width: 100px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
  }
  
  .Task{
    background-color: rgb(0, 174, 255);
    border-color: #000000;
    color: white;
  }

  .Section{
    color: rgb(199, 186, 186);
    border-color: #000000;
  }

  main{
    vertical-align: middle;
    width: 1000px;
    margin: auto;
    margin-top: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    padding: 5%;
  }

  .symbol-border{
    display: inline-block;
    width: 30px;
    height: 30px;
    color: black;
    vertical-align: middle;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
  }
.green{
    border: 1px solid rgb(21, 202, 96);
}

.red{
    border: 1px solid rgb(212, 16, 16);
}
  .category{
    display: inline-block;
    width: 70px;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    border-radius: 10px;
  }

  .editorial{
    background-color: rgb(0, 174, 255);
  }

.Q1{
    background-color: rgb(149, 106, 189);
}

.recruiting{
    background-color: rgb(18, 161, 142);
}

.mobile{
    background-color: orange;
}

.website{
    background-color: palevioletred;
}

.sales{
    background-color: rgb(59, 128, 59);
}

.font{
    font-family: 'Roboto', sans-serif; 
}

.h2{
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
}